* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    h1 {
      color: #fff;
      margin: auto;
      text-align: center;
      margin-top: 100px;
    }
    background-color: #4472c4;
    .adminLogin {
      .heading {
        font-size: 24px;
        font-weight: 500;
      }
      background-color: #fff;
      width: 400px;
      padding: 30px 80px; 
      margin: 100px auto;
      label {
        margin: 15px 0 5px;
        color:rgb(51, 51, 51);
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        height: 20px;
        line-height: 20px;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
        max-width: 100%;
        outline-color: rgb(51, 51, 51);
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-size-adjust: 100%;
      }
      input {
        border-radius: 4px;
        border: 1px solid rgb(204, 204, 204);
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        cursor: text;
        display: block;
        margin: 0;
        padding: 6px 12px;
        font-size: 14px;
        font-stretch: 100%;
        font-weight: 400;
        height: 34px;
        letter-spacing: normal;
        line-height: 20px;
        text-align: start;
        text-shadow: none;
        text-size-adjust: 100%;
        text-transform: none;
        transition-delay: 0s, 1s;
        transition-duration: 0.15, 0.15s;
        transition-property: border-color, box-shadow;
        transition-timing-function: easein-out, ease-in-out;
        width: 100%;
        word-spacing: 0px;
      }
      .login1 {
        width: 100%;
        display: inline-block;
        margin: 40px 0;
        background-color: rgb(51, 122, 183);
        border-radius: 4px; 
        font-size: 14px;
        color: #fff;
        padding: 6px 12px;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}