* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
$font5: 12px;
$font4: 13px; 
$font3: 14px;
$font2: 16px;
$font1: 18px;

//color
$gray-1: rgb(120, 120, 120);
$gray-2: rgb(161, 161, 161);
$gray-white: rgb(244, 244, 244);
$green-1: rgb(0, 163, 0);
$red-1: rgb(193, 83, 89);
$black-1: rgb(60, 60, 60);

//variables 
$left-shift: -50px;
html {
  position: relative;
  margin: 0;
  // height: 100%;
  body {
    margin: 0;
    font-family: sans-serif;
    // height: 100%;
    .bold {
      font-weight: 400;
    }
    .green {
      color: $green-1;
    }
    .red {
      color: $red-1;
    }
    .cover {
      margin-left: 50px;
      background-color: rgb(244, 244, 244);
      display: grid;
      grid-template-columns: 280px auto;
      max-width: calc(100vw - 150px);
      height: 100%;
      .cardLook {
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px rgba(120,120,120,1);
        border-radius: 4px;
        min-height: 30px;
        min-width: 30px;  
        margin: 20px;
      }
      .sidePane {
        position: relative;
        left: $left-shift;
        .tripStatusCard {
          padding: 20px;
          font-size: $font4;
          .status {
            background-color: $green-1;
            display: inline-block;
            color: #fff;
            border-radius: 15px;
            padding: 5px 19px;
            font-size: $font3;
            letter-spacing: 1px;
            margin: 0 0 15px;
          }
          .dateLabel {
            display: block;
            font-weight: bold;
          }
          .date {
            display: block;
            margin: 4px 0 0;
          }
        }
        .placementCard {
          padding: 5px;
          .heading {
            font-size: $font1;
            font-weight: bold;
            padding: 15px 10px;
          }
          .placementList {
            padding: 0px 0 10px;
            .placementItem {
              margin: 5px;
              > div {
                display: inline;
                color: rgb(85, 162, 240);
              }
              .delayDuration {
                margin-left: 25%;
                &.danger {
                  color: $red-1;
                }
                &.deviant {
                  color: rgb(170, 170, 170);
                }
              }
              .arrow {
                img {
                  position: relative;
                  top: 4.5px;
                }
              }
            }
          }
        }
        .billStatusCard {
          padding: 20px;
          .date {
            font-size: $font3;
          }
          .control {
            align-items: center;
            border-top: 1px solid $gray-white;
            display: flex;
            font-size: $font2;
            justify-content: space-between;
            margin-top: 10px;
            padding: 15px 0 5px;
            .editTrip {
              color: $gray-1;
              display: inline;
            }
            .viewButton {
              background-color: rgb(0, 153, 253);
              background-image: linear-gradient(to bottom, #0099FD, #0088EE);
              color: #fff;
              padding: 8px 30px;
              border-radius: 4px;
              border: 1px solid rgb(30, 130, 220);
              text-decoration: none;
              font-weight: 100;
            }
          }
        }
      }
      .mainPane {
        position: relative;
        left: $left-shift;
        .dashboard {
          padding: 30px;
          color: $gray-2;
          .heading {
            font-size: $font2;
            // margin-top: 20px;
          }
          .menu {
            color: $black-1;
            font-size: $font3;
            margin: 10px 0;
            img {
              transform: rotate(90deg);
              position: relative;
              top: 4px;
            }
          }
          .details {
            display: grid;
            grid-template-columns: 200px 200px 200px 200px auto;
            margin: 20px 0;
            
            .detailBlock {
              > div {
                margin: 5px 0;
              }
              .label {

              }
              .value {

              }
              .inference {
                color: $green-1;
                img.inferenceImage {
                  height: 16px;
                  position: relative;
                  top: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}