* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  body {
    .overlay {
      cursor: not-allowed;
      display: none;
      position: absolute;
      background: #00d6ff5c;
      height: 100vh;
      width: 100vw;
      z-index: 2;
      padding: calc(25% - 32px) calc(50% - 32px);
      .lds-roller {
        display: inline-block;
        position: absolute;
        width: 64px;
        height: 64px;
        div {
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          transform-origin: 32px 32px;
          &:after {
            content: " ";
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #fff;
            margin: -3px 0 0 -3px;
          }
          &:nth-child(1) {
            animation-delay: -0.036s;
            &:after {
              top: 50px;
              left: 50px;
            }
          }
          &:nth-child(2) {
            animation-delay: -0.072s;
            &:after {
              top: 54px;
              left: 45px;
            }
          }
          &:nth-child(3) {
            animation-delay: -0.108s;
            &:after {
              top: 57px;
              left: 39px;
            }
          }
          &:nth-child(4) {
            animation-delay: -0.144s;
            &:after {
              top: 58px;
              left: 32px;
            }
          }
          &:nth-child(5) {
            animation-delay: -0.18s;
            &:after {
              top: 57px;
              left: 25px;
            }
          }
          &:nth-child(6) {
            animation-delay: -0.216s;
            &:after {
              top: 54px;
              left: 19px;
            }
          }
          &:nth-child(7) {
            animation-delay: -0.252s;
            &:after {
              top: 50px;
              left: 14px;
            }
          }
          &:nth-child(8) {
            animation-delay: -0.288s;
            &:after {
              top: 45px;
              left: 10px;
            }
          }
        }
      }
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }
    .cover {
      display: grid;
      grid-template-columns: 360px auto;
      .sidePane {
        .dnxLogo {
          width: 48%;
          margin: 15px 25px;
        }
        .form-group {
          padding: 20px 27px;
          // display: none;
          label {
            margin: 15px 0;
          }
          input {
            width: 280px;
            // margin: 15px 0px;
          }
          .login1 {
            width: 135px;
            display: inline-block;
            margin: 40px 0;
          }
        }
        
      }
      .mainPane {
        // padding: 20px;
        // border: 1px solid;
        .heading {
          font-size: 32px;
          display: inline-block;
          width: calc(100%);
          text-align: center;
          vertical-align: middle;
          height: 80px;
          // background-color: yellow;
          padding: 20px;
          font-weight: bold;
          color: #4472c4;
          
        }
        .videoStreamWrapper {
          width: 80%;
          max-height: 500px;
          position: relative;
          margin: auto;
          max-width: 720px;
          video#videoElement {
            width: 100%;
            max-height: 100%;
        }
        .buttonWrapper {
          display: grid;
          grid-template-columns: 240px auto 240px;
          .login2 {
            margin: 30px 0;
          }
        }
      }
    }
  }





}

}