* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
html {
  body {
    background-color: #fff;
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    .cover {
      display: grid;
      grid-template-columns: 360px auto;
      .sidePane {
        .dnxLogo {
          width: 48%;
          margin: 15px 25px;
        }
        .adminLogin {
          background-color: #fff;
          width: 400px;
          padding: 30px 30px; 
          margin: auto;
          .heading {
            font-size: 24px;
            font-weight: 500;
          }
          label {
            margin: 15px 0;
            color:#666;
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            height: 20px;
            line-height: 20px;
            margin-bottom: 15px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 15px;
            max-width: 100%;
            outline-color: rgb(51, 51, 51);
            outline-style: none;
            outline-width: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            text-size-adjust: 100%;
          }
          input {
            border-radius: 4px;
            border: 1px solid rgb(204, 204, 204);
            box-sizing: border-box;
            color: #666;
            cursor: text;
            display: block;
            margin: 0;
            padding: 6px 12px;
            font-size: 14px;
            font-stretch: 100%;
            font-weight: 400;
            height: 34px;
            letter-spacing: normal;
            line-height: 20px;
            text-align: start;
            text-shadow: none;
            text-size-adjust: 100%;
            text-transform: none;
            transition-delay: 0s, 1s;
            transition-duration: 0.15, 0.15s;
            transition-property: border-color, box-shadow;
            transition-timing-function: easein-out, ease-in-out;
            width: 100%;
            word-spacing: 0px;
          }
          .login1 {
            width: 100%;
            display: inline-block;
            margin: 40px 0;
            background-color: rgb(51, 122, 183);
            border-radius: 4px; 
            font-size: 14px;
            color: #fff;
            padding: 6px 12px;
            line-height: 20px;
            text-align: center;
          }
        }
        // .form-group {
        //   padding: 20px 27px;
        //   // display: none;
        //   label {
        //     margin: 15px 0;
        //   }
        //   input {
        //     width: 280px;
        //     // margin: 15px 0px;
        //   }
        //   .login1 {
        //     width: 135px;
        //     display: inline-block;
        //     margin: 40px 0;
        //   }
        // }
        
      }
      .mainPane {
        // padding: 20px;
        // border: 1px solid;
        .heading {
          font-size: 32px;
          display: inline-block;
          width: calc(100%);
          text-align: center;
          vertical-align: middle;
          height: 80px;
          // background-color: yellow;
          padding: 20px;
          font-weight: bold;
          color: #4472c4;
        }
        .container {
          width: 950px !important;
          margin-top: 60px;
              
          #dnxTable_wrapper {
            * {
              color: #666 !important;
            }
            width: 950px !important;
            #dnxTable {
              width: 950px !important;
            }
          }
        }
        }
      }

    
  }
}
